.app-wrapper {
    display: grid;
    margin-top: 10px;
    margin-left: 250px;
    width: 1200px;
    position: absolute;
    grid-template-areas:
    'h h'
    'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    justify-content: center;
}

.app-wrapper-content {
    grid-area: c;
    border-radius: 5px;
    background: rgba(255, 78, 0, 0.4);
}