.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 30px;
}

.dialogsItems .active {
    color: deeppink;
}

.messages {
    padding: 30px;
}

.messages .message {

}
